*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

wildfly_vagrant_chef/.vagrant/
wildfly_vagrant_chef/Berksfile.lock

serenity_sample/.classpath
serenity_sample/.project
serenity_sample/.settings*
serenity_sample/target
serenity_sample/build

galen_sample/.classpath
galen_sample/.project
galen_sample/.settings*
galen_sample/target
galen_sample/build
galen_sample/logs
